.auth-form-container {
    width: 35rem;
    height: 35rem;
    max-width: 80%;
    margin: 5rem auto;
}

.auth-form-card {
    height: 100%;
    padding: 2rem;
    border: 1px solid #E6E6E8;
    height: 85%;
    margin-top: 25rem;
}

.form-control {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.text-field {
    margin-bottom: 1rem !important;
}

.text-field.active {
    color: #F2994A !important;
}

.form-actions {
    margin-top: 0.5rem;
}

.form-actions Button {
    width: 10rem;
    border-radius: 0px !important;
    margin-left: 0;
    margin-right: 1rem;
}

.contained-button {
    background-color: #F2994A !important;
}

.contained-button:hover {
    background-color: #f57c00 !important;
}

.text-button {
    color: #F2994A !important;
}

.text-button:hover {
    background-color: transparent !important;
    color: #f57c00 !important;
}

.text-button Button:hover,
.text-button Button:active {
    color: #f57c00;
}