.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    /* background: #212121; */
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation_logo h1 {
    color: #F2994A;
    margin: 0 0 0 5rem;
    font-size: 1.5rem;
}

.main-navigation_items {
  margin-right: 5rem;
  margin-left: 1.5rem;
}

.main-navigation_items ul {
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}

.main-navigation_items li {
  margin: 0 1rem;
}

.main-navigation_items a {
  text-decoration: none;
  height: 3.5rem;
  color: #212121;
}

.main-navigation_items a:hover,
.main-navigation_items a:active,
.main-navigation_items a.active {
  border-bottom: 2px solid #F2994A;
}